<div class="container-fluid">
  <!-- Table -->
  <app-spinner-overlay [overlay]="overlay"></app-spinner-overlay>

  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="col-md-12 py-3">
          <form [formGroup]="entradaForm" class="form-row" novalidate>
            <div class="col-md-12">
              <div class="form-group">
                <h2>Añadir Articulo</h2>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" formControlName="title"  [(ngModel)]="createModel.title" name="tituloArticulo" class="form-control" placeholder="Titulo del Articulo" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="file" name="examinarImagen" (change)="cambioArchivo($event)" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" formControlName="resumen"  [(ngModel)]="createModel.descp" name="descripcion" class="form-control"
                  placeholder="Descripcion o resumen del articulo" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <select formControlName="category" [(ngModel)]="createModel.category" class="form-control" name="etiqueta">
                  <option class="" selected="">Etiqueta categoría</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-12">
          <hr />
        </div>
        <div class="col-md-12">
          <textarea name="" id="" class="text" cols="30" [(ngModel)]="createModel.text" rows="10"></textarea>
          <!-- <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="createModel.text">
          </app-ngx-editor> -->
          <button class="btn btn-success btn-block" (click)="public()">Publicar</button>
        </div>
      </div>
    </div>
  </div>

</div>
