<div class="filter">
    <!-- Table -->
    <div class="row">
      <div class="col-md-12">
        <div class="card shadow">
          <div class="col-md-12 py-3">
            <form class="form-row">
              <div class="col-md-4">
                <div class="form-group">
                  <h2>Filtrar Por: </h2>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <select class="form-control" name="regiones">
                    <option class="">Región</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <select class="form-control" name="regiones">
                    <option class="">Fecha</option>
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>
  