<div class="body-content">
  <!-- Header -->
  <div class="py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <img src="./assets/img/Logo Identidad 2 blanco.png" alt="fondo inicio de sesion">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card  shadow border-0">

          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <img src="./assets/img/Registro con èxito.png" alt="">
              <h1>REGISTRO CON ÉXITO</h1>
            </div>
            <div class="text-center">
              <pre>Su registro está en proceso de validación, 
     en cuanto sea revisado y aceptado, 
  se enviara un correo con la confirmación
  </pre>
            </div>
            <div class="text-center">
              <button class="btn" routerLink="/" style="background-color: black; color: white;">Volver al inicio</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer-admin></app-footer-admin>

</div>
