.validado{
    background: aquamarine;
    width: 150px;
    border-radius: 1rem;
    height: 35px;
}

.validar{
    background: #000;
    width: 150px;
    color: darkgray;
    border-radius: 1rem;
    height: 35px;
}

.more{
    margin: 0 10px 0 auto;
}


.icon{
    margin-right: 20px;
}

.pd-15{
    padding-top: 15px !important;
}

.label{
    vertical-align: inherit !important;
}

.main-content{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.user-delete{
    margin-right: 20px;
}

