<app-filter></app-filter>

<div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <tbody>
              <tr>
                <td><i class="fas fa-star"></i></td>
                <td>Punto de ayuda 1</td>
                <td><strong>Bogotá punto de ayuda organización pepe</strong></td>
                
                <td><span class="badge badge-success"></span></td>
                <td>10:30 am</td>
              </tr>
            </tbody>
          </table>
        </div>
       
      </div>
    </div>
  </div>